@model shop_view.Models.Data

<h1>Registration Results</h1>

<p>I confirm the following registration details:</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email Address: @Model.Email</p>
<p>Password: @Model.Password</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Age: @Model.Age</p>
<p>City: @Model.City</p>
