@model shop_view.Models.Screen

<h2>Delete Screen</h2>

<p>Are you sure you want to delete the following screen?</p>
<dl class="dl-horizontal">
    <dt>Brand:</dt>
    <dd>@Model.Brand</dd>
    <dt>Category:</dt>
    <dd>@Model.ScreenCategory</dd>
    <dt>Price:</dt>
    <dd>@Model.Price</dd>
    <dt>Description:</dt>
    <dd>@Model.Description</dd>
    <dt>Inches:</dt>
    <dd>@Model.Inches</dd>
</dl>

<form asp-controller="Screen" asp-action="Delete" method="post">
    <input asp-for="ScreenID" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Screen" asp-action="Index" class="btn btn-default">Cancel</a>
</form>
