@model IEnumerable<Manufacturer>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista Producentów";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="d-flex justify-content-center text-white" style="margin-bottom: 10px;">
            <a asp-controller="Manufacturers" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Dodaj Producenta
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="padding: 20px;">@Html.DisplayNameFor(model => model.CompanyLogoURL)</th>
                    <th style="padding: 20px;">@Html.DisplayNameFor(model => model.Name)</th>
                    <th style="padding: 20px;">@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Operacje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="algin-middle">
                            <img class="square" src="@item.CompanyLogoURL" alt="@item.Name" style="max-width: 150px" />
                        </td>
                        <td class="algin-middle" style="padding: 20px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="algin-middle" style="padding: 20px;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="algin-middle">
                            <a class="btn btn-outline-primary" style="margin-bottom: 10px;"><i class="bi bi-pencil-square"></i>Edytuj</a>
                            <a class="btn btn-outline-info" style="margin-bottom: 10px;" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Szczegóły</a>
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i>Usuń</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>