@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista Produktów";
}

<div class="d-flex justify-content-center">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-header text-white" style="background-color: gray;">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.Name
                        </h5>
                    </p>
                </div>
                <img src="@Model.ImageURL" width="100%" alt>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">Rok Produkcji: @Model.ReleaseYear</p>
                    <p class="card-text">
                        <b>Producer: </b>
                        <a asp-asp-controller="Manufacturer" asp-action="Details" asp.route-id="@Model.ManufacturerId">
                            @Model.Manufacturer.Name
                        </a>
                    </p>
                    <p class="card-text">Kategoria: @Model.ProductCategory</p>
                    <p class="card-text">
                        <b>Dostępne sztuki:</b>
                        @Model.AvaibleParts
                    </p>
                    <div>
                        <p class="card-text">
                            <a class="btn btn-success text-white m-3" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus">Dodaj Do Koszyka (@Model.Price zł)</i></a>
                            <a class="btn btn-outline-primary float-end m-3" asp-action="Index"><i class="bi bi-eye-fill">Wróć do listy</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>