@model List<shop_view.Models.Phone>

<a asp-controller="Home" asp-action="Index">Home</a>

<h2>Phone List</h2>

<p><a asp-controller="Phone" asp-action="Create">Create New Phone</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Phone ID</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.PhoneID</td>
                <td>@phone.Brand</td>
                <td>@phone.PhoneCategory</td>
                <td>@phone.Price</td>
                <td>@phone.Description</td>
                <td>
                    <a asp-controller="Phone" asp-action="Edit" asp-route-id="@phone.PhoneID">Edit</a> |
                    <a asp-controller="Phone" asp-action="Delete" asp-route-id="@phone.PhoneID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Home</a>