@model List<shop_view.Models.SmartWatch>

<a asp-controller="Home" asp-action="Index">Home</a>

<h2>SmartWatch List</h2>

<p><a asp-controller="SmartWatch" asp-action="Create">Create New SmartWatch</a></p>

<table class="table">
    <thead>
        <tr>
            <th>SWID</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var smartwatch in Model)
        {
            <tr>
                <td>@smartwatch.SWID</td>
                <td>@smartwatch.Brand</td>
                <td>@smartwatch.SWCategory</td>
                <td>@smartwatch.Price</td>
                <td>@smartwatch.Description</td>
                <td>
                    <a asp-controller="SmartWatch" asp-action="Edit" asp-route-id="@smartwatch.SWID">Edit</a> |
                    <a asp-controller="SmartWatch" asp-action="Delete" asp-route-id="@smartwatch.SWID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Home</a>
